/* Homepage banner */
#heroContainer {
    background-color: #292b2a;
    background-image: url("../images/walid.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: 50% 75%;
    margin: 0;
    width: inherit;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nameColor {
    font-family: 'Montserrat', sans-serif;
    color: #d83226;
    font-size: 65px;
    /* font-weight: bolder; */
}

.pipeColor {
    /* font-weight: bold; */
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    color: whitesmoke;
}

.titleColor {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 65px;
    /* font-weight: ; */
}


