.body, .navContainer, .container, .footer{
    background-color: #251a1a;
}

/* Navbar */
.nav-link {
    color: whitesmoke;
}

#logo {
    width: 100px;
    height: 40px;
}

/* Homepage banner */
#heroContainer {
    background-color: #292b2a;
    background-image: url("../images/walid.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: 50% 70%;
    margin: 0;
    width: inherit;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nameColor {
    font-family: 'Montserrat', sans-serif;
    color: #bd2319;
    font-size: 45px;
    /* font-weight: bolder; */
}

.pipeColor {
    /* font-weight: bold; */
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: whitesmoke;
}

.titleColor {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 45px;
    /* font-weight: ; */
}

.heroContainer, ul {
    padding: 0;
}

.heroContainer, li {
    list-style-type: none;
    justify-content: center;
}
